{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "sa",
  "password": ".",
  "database": "nestjsrealworld",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": true,


   "migrationsTableName": "__MigrationHistory",
    "migrations": ["src/server/common/data/migrations/**{.js,.ts}"],
    "cli": {
        "migrationsDir": "src/server/common/data/migrations"
    }
}